In [36]:
import numpy as np
from PIL import Image
import pickle
import pandas as pd

In [5]:
def unpickle_test(path):
    with open(path, 'rb') as fo:
        dict = pickle.load(fo, encoding='bytes')
    return dict
test_set = unpickle_test('/home/milin/Desktop/Kartik python/DL/CNN/Datasets/cifar-100-python/test')

def unpickle_train(path):
    with open(path, 'rb') as fo:
        dict = pickle.load(fo, encoding='bytes')
    return dict
train_set = unpickle_train('/home/milin/Desktop/Kartik python/DL/CNN/Datasets/cifar-100-python/train')

In [6]:
for k in train_set:
    print(k)

b'filenames'
b'batch_label'
b'fine_labels'
b'coarse_labels'
b'data'

In [21]:
clean_array_100 = []
for i in train_set[b'data'][:100]:
    clean_array_100.append(i.reshape(3,32,32).transpose(1,2,0))

clean_images_100 = []
for i in train_set[b'filenames'][:100]:
    clean_images_100.append(i.decode('UTF-8'))

In [98]:
for (array, image) in zip(clean_array_100,clean_images_100):
    x = np.array(array)
    im = Image.fromarray(x)
    im.save('/home/milin/Desktop/Kartik python/DL/CNN/Datasets/saved_images/' +image)

In [101]:
new_df = pd.DataFrame.from_dict(train_set_exp, orient='columns')
new_df.groupby([b'coarse_labels', b'fine_labels']).count()

                                 b'filenames'  b'batch_label'
b'coarse_labels' b'fine_labels'
0                4                        500             500
                 30                       500             500
                 55                       500             500
                 72                       500             500
                 95                       500             500
1                1                        500             500
                 32                       500             500
                 67                       500             500
                 73                       500             500
                 91                       500             500
2                54                       500             500
                 62                       500             500
                 70                       500             500
                 82                       500             500
                 92                       500             500
3                9                        500             500
                 10                       500             500
                 16                       500             500
                 28                       500             500
                 61                       500             500
4                0                        500             500
                 51                       500             500
                 53                       500             500
                 57                       500             500
                 83                       500             500
5                22                       500             500
                 39                       500             500
                 40                       500             500
                 86                       500             500
                 87                       500             500
...                                       ...             ...
14               2                        500             500
                 11                       500             500
                 35                       500             500
                 46                       500             500
                 98                       500             500
15               27                       500             500
                 29                       500             500
                 44                       500             500
                 78                       500             500
                 93                       500             500
16               36                       500             500
                 50                       500             500
                 65                       500             500
                 74                       500             500
                 80                       500             500
17               47                       500             500
                 52                       500             500
                 56                       500             500
                 59                       500             500
                 96                       500             500
18               8                        500             500
                 13                       500             500
                 48                       500             500
                 58                       500             500
                 90                       500             500
19               41                       500             500
                 69                       500             500
                 81                       500             500
                 85                       500             500
                 89                       500             500

[100 rows x 2 columns]

In [ ]:
https://realpython.com/storing-images-in-python/#reading-a-single-image